<div class='note-box'>
  <%= form_for note, url: url do |f| %>
    <%= f.hidden_field :student_id %>
    <%= f.hidden_field :lesson_id %>

    <%= f.text_area :content %><br />
    <%= f.submit "Save" %>
  <% end %>
</div>
