<div class='note-box'>
  <%= form_for note, url: url do |f| %>
    <%= f.hidden_field :student_id %>
    <%= f.hidden_field :lesson_id %>

    <%= f.text_area :content %><br />
    <%= f.button "Save", class:['btn','btn-default'] %>

    <%= nav_button_for 'Back', lesson_path(note.lesson) %>
  <% end %>
</div>
