<div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion_track" <%= href_for(topic) %>>
        <h4 class="panel-title">
              <%= topic.title %>
              <span class="pull-right"><%= "#{topic.completed_lessons} of #{topic.lessons.count}" %></span>
              <%= render partial: 'progress_bar', locals: {element: topic} %>
        </h4>
      </a>
    </div>
    <div <%= collapse_id_for(topic) %> class="panel-collapse collapse">
        <div class="panel-body">
            <div class="panel-group" <%= accordion_id_for(topic) %>>
              <%= render partial: 'lessons/unit', collection: topic.units %>
            </div>
        </div>
    </div>
</div>
