<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_track" <%= href_for(topic) %>>
              <%= topic.title %>
              <span class="pull-right"><%= "#{topic.completed_lessons} of #{topic.lessons.count}" %></span>
            </a>
        </h4>
    </div>
    <div <%= collapse_id_for(topic) %> class="panel-collapse collapse">
        <div class="panel-body">
            <div class="panel-group" <%= accordion_id_for(topic) %>>
              <% topic.units.each do |unit| %>
                <%= render partial: 'lessons/unit', locals: {unit: unit} %>
              <% end %>
            </div>
        </div>
    </div>
</div>
