  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" <%= data_parent_for(unit) %> <%= href_for(unit) %>>
                <%= unit.title %>
                <span class="pull-right"><%= "#{unit.completed_lessons} of #{unit.lessons.count}" %></span>
              </a>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">

                </div>
              </div>
          </h4>
      </div>
      <div <%= collapse_id_for(unit) %> class="panel-collapse collapse">
        <div class='panel-body'>
          <% unit.lessons.each do |lesson| %>
            <div>
              <% if lesson.content_type == 'Lab' %>
                <i class='fa fa-flask'></i>
              <% elsif lesson.content_type == 'Readme' %>
                <i class='fa fa-book'></i>
              <% else %>
                <i class='fa fa-video-camera'></i>
              <% end %>
              <%= link_to lesson.title, lesson_path(lesson.id) %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
