  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" <%= data_parent_for(unit) %> <%= href_for(unit) %>>
                <%= unit.title %>
                <span class="pull-right"><%= "#{unit.completed_lessons} of #{unit.lessons.count}" %></span>
              </a>
          </h4>
      </div>
      <div <%= collapse_id_for(unit) %> class="panel-collapse collapse">
        <div class='panel-body'>
          <% unit.lessons.each do |lesson| %>
            <%= content_tag :div, (link_to lesson.title, lesson_path(lesson.id)) %>
          <% end %>
        </div>
      </div>
  </div>
