<div class="unit panel panel-default">
    <div class="panel-heading">
      <a data-unit-id='<%= unit.id %>' data-toggle="collapse" <%= data_parent_for(unit) %> <%= href_for(unit) %>>
        <h4 class="panel-title">
          <%= unit.title %>
          <span class="pull-right"><%= "#{unit.completed_lessons} of #{unit.lessons.count}" %></span>
          <%= render partial: 'progress_bar', locals: {element: unit} %>
        </h4>
      </a>
    </div>
    <div <%= collapse_id_for(unit) %> class="panel-collapse collapse">
      <div id='unit-<%= unit.id %>' class='panel-body'>

      </div>
    </div>
</div>
