<%= render partial: 'breadcrumbs', locals: {lesson: @lesson} %>
<h3>
  <%= type_icon_for(@lesson) %>
  <%= @lesson.title %>
</h3>
<p>
  Status: <%= @lesson.status %>   Learn Link: <%= link_to @lesson.title, @lesson.url %>
</p>

<div class='tags'>
  <h4>Tags:</h4>
  <%= render @lesson.tags %>
</div>

<div class='notes'>
  <h4>
    Notes:
  </h4>
  <p>
    <%= "You have no notes for this lesson." if @note.nil? %>
    <%= @note.content unless @note.nil? %>
  </p>
</div>
