<h3><%= breadcrumb_menu(@lesson) %></h3>
<p>
  Link: <%= link_to @lesson.title, @lesson.url %>
</p>

<p>
  Status: <%= @lesson.status %>
</p>
<p>
  Type: <%= @lesson.content_type %>
</p>
<% if @note %>
  <p>
    <h4>
      Notes:
    </h4>
    <p>
      <%= @note.content %>
    </p>
  </p>
  <%= link_to 'Edit', edit_lesson_note_path(@lesson,@note) %>
<% else %>
  <%= link_to 'Create Note', new_lesson_note_path(@lesson) %>
<% end %>
