<h3><%= breadcrumb_menu(@lesson) %></h3>
<p>
  Type: <%= @lesson.content_type %>   Status: <%= @lesson.status %>   Link: <%= link_to @lesson.title, @lesson.url %>
</p>

<div class='tags'>
  <h4>Tags:</h4>
  <div>
    <%= form_for @lesson do |f| %>

      <% if current_student.tags.empty? %>
        <p>
          You have not created any tags yet.
        </p>
      <% else %>
        <%= f.collection_check_boxes :tag_ids, current_student.tags.all, :id, :category %><br>
      <% end %>

      <%= f.fields_for :tags, Tag.new do |tag_form| %>
        <%= tag_form.label :category, "New Tag" %>
        <%= tag_form.text_field :category %>
      <% end %>

      <%= f.submit 'Create' %>
    <% end %>
  </div>
</div>

<div class='notes'>
  <h4>
    Notes:
  </h4>
  <% if @note %>
    <p>
      <%= @note.content %>
    </p>
    <%= link_to 'Edit', edit_lesson_note_path(@lesson,@note) %>
  <% else %>
    <p>
       You have no notes for this lesson.
    </p>
    <%= link_to 'Create Note', new_lesson_note_path(@lesson) %>
  <% end %>
</div>
