<%= render partial: 'breadcrumbs', locals: {lesson: @lesson} %>
<%= render partial: 'submenu', locals: {lesson: @lesson} %>
<h3>
  <%= status_icon_for(@lesson) %>
  <%= type_icon_for(@lesson) %>
  <%= link_to @lesson.title, @lesson.url, target: '_blank' %>
</h3>

<div class='tags panel panel-default'>
  <div class="panel-heading">
    <span>Tags</span>
    <%= nav_button_for('Tags') %>
  </div>
  <div class='panel-body'>
    <%= "You have no tags for this lesson." if @lesson.tags.empty? %>
    <%= render @lesson.tags unless @lesson.tags.empty?%>
  </div>
</div>

<div class='notes panel panel-default'>
  <div class='panel-heading'>
    <span>Notes</span>
    <%= nav_button_for('Notes') %>
  </div>
  <div class='panel-body'>
    <%= "You have no notes for this lesson." if @note.nil? %>
    <%= @note.content unless @note.nil? %>
  </div>
</div>
