<h1><%= @lesson.title %></h1>

<h3>Unit: <%= @lesson.unit.title %></h3>
<p>
  Link: <%= link_to @lesson.title, @lesson.url %>
</p>

<p>
  Status: <%= @lesson.status %>
</p>
<p>
  Type: <%= @lesson.content_type %>
</p>
<% if @student_lesson %>
  <p>
    Notes: <%= @student_lesson.notes %>
  </p>
<% end %>
