<%= render partial: 'lesson_header', locals: {lesson: @lesson} %>

<div class='tags panel panel-default'>
  <div class="panel-heading">
    <span>Tags</span>
    <%= nav_button_for('Tags') %>
  </div>
  <div class='tag-list panel-body'>
    <%= "You have no tags for this lesson." if @lesson.tags.empty? %>
    <%= render @lesson.tags.order(:category).distinct unless @lesson.tags.empty?%>
  </div>
</div>

<div class='notes panel panel-default'>
  <div class='panel-heading'>
    <span>Notes</span>
    <%= nav_button_for('Notes') %>
  </div>
  <div class='panel-body'>
    <%= "You have no notes for this lesson." if @note.nil? %>
    <%= @note.content unless @note.nil? %>
  </div>
</div>

<script id="lesson-template" type="text/x-handlebars-template">

  <div class="btn-toolbar">
    <div class="btn-group" role="group">

      <a href="/lessons"><button type="button" class="btn btn-default">Index</button></a>
      <a href="/lessons/4688"><button type="button" class="btn btn-default">Previous</button></a>
      <a href="/lessons/4691"><button type="button" class="btn btn-default">Next</button></a>

    </div>
  </div>

  <h3>
    <i class="fa fa-check-circle-o"></i>
    <i class="fa fa-book"></i>
    <a target="_blank" href="https://learn.co/tracks/full-stack-web-dev-with-react/object-oriented-ruby/intro-to-object-orientation/oo-ruby-video-object-orientation-overview">OO Ruby Video: Object Orientation Overview</a>
  </h3>

  <div class="tags panel panel-default">
    <div class="panel-heading">
      <span>Tags</span>
      <a href="/lessons/4689/edit"><button type="button" class="btn btn-default">Tags</button></a>
    </div>
    <div class="tag-list panel-body">
      You have no tags for this lesson.
      
    </div>
  </div>

  <div class="notes panel panel-default">
    <div class="panel-heading">
      <span>Notes</span>
      <a href="/lessons/4689/notes/new"><button type="button" class="btn btn-default">Notes</button></a>
    </div>
    <div class="panel-body">
      You have no notes for this lesson.
    </div>
  </div>
</script>
