<div id='lesson-content'>
  <%= render partial: 'lesson_header', locals: {lesson: @lesson} %>
  <div class='tags panel panel-default'>
    <div class="panel-heading">
      <span>Tags</span>
      <%= nav_button_for('Tags') %>
    </div>
    <div class='tag-list panel-body'>
      <%= "You have no tags for this lesson." if @lesson.tags.empty? %>
      <%= render @lesson.tags.order(:category).distinct unless @lesson.tags.empty?%>
    </div>
  </div>

  <div class='notes panel panel-default'>
    <div class='panel-heading'>
      <span>Notes</span>
      <%= nav_button_for('Notes') %>
    </div>
    <div class='panel-body'>
      <%= "You have no notes for this lesson." if @note.nil? %>
      <%= @note.content unless @note.nil? %>
    </div>
  </div>
</div>

<script id="lesson-template" type="text/x-handlebars-template">
  <div class="btn-toolbar">
    <div class="btn-group" role="group">
      <a href="/lessons"><button type="button" class="btn btn-default">Index</button></a>
      <a href={{previous_lesson_link}}><button type="button" class="btn btn-default page-button">Previous</button></a>
      <a href="{{next_lesson_link}}"><button type="button" class="btn btn-default page-button">Next</button></a>
    </div>
  </div>

  <h3>
    <i class="fa {{statusIconName}}"></i>
    <i class="fa {{typeIconName}}"></i>
    <a target="_blank" href="{{url}}">{{title}}</a>
  </h3>
  {{> tagsPartial }}
  {{> notesPartial }}
</script>

<script id="lesson-tags-partial" type="text/x-handlebars-template">
  <div class="tags panel panel-default">
    <div class="panel-heading">
      <span>Tags</span>
      <a href="/lessons/{{id}}/edit"><button type="button" class="btn btn-default">Tags</button></a>
    </div>
    <div class="tag-list panel-body">
      {{#if sortedTags }}
        {{#each sortedTags}}
          <div>{{category}}</div>
        {{/each}}
      {{ else }}
        <p>You have no tags for this lesson.</p>
      {{/if}}
    </div>
  </div>
</script>

<script id='lesson-notes-partial' type='text/x-handlebars-template'>
  <div class="notes panel panel-default">
    <div class="panel-heading">
      <span>Notes</span>
      <a href="/lessons/{{id}}/notes/new"><button type="button" class="btn btn-default">Notes</button></a>
    </div>
    <div class="panel-body">
      {{#if notes}}
        {{#each notes}}
        <p>{{content}}</p>
        {{/each}}
      {{ else }}
        <p>You have no notes for this lesson.</p>
      {{/if}}
    </div>
  </div>
</script>