<h1><%= @lesson.title %></h1>

<h3>Unit: <%= @lesson.unit.title %></h3>
<p>
  Link: <%= link_to @lesson.title, @lesson.url %>
</p>

<p>
  Status: <%= @lesson.status %>
</p>
<p>
  Type: <%= @lesson.content_type %>
</p>
<% if @student_lesson %>
  <p>
    Notes: <%= @student_lesson.notes %>
  </p>
  <%= link_to 'Edit', edit_note_path(@student_lesson) %>
<% else %>
  <%= link_to 'Create Note', new_note_path %>
<% end %>
